@model List<Blog.Models.Category>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="well">
        <h2>All Categories - @Html.ActionLink("Create", "Create", "Category", null, new { @class = "btn btn-warning" })</h2>
        <div class="row">
            <table class="table table-striped table-hover col-sm-12">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@Html.ActionLink(string.Format($"{category.Name} ({category.Articles.Count})"), "List", "Article", new { @categoryId = category.Id }, null)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Category", new { @id = category.Id }, null)
                                @Html.ActionLink("Delete", "Delete", "Category", new { @id = category.Id }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
