@model Blog.Models.Article

@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <img src="@Model.ImagePath" alt="@string.Join(" ", Model.Tags.Select(t => t.Name))" width="350px" class="pull-right disappearing img-responsive img-rounded img-thumbnail" />
        }
        @foreach (var paragraph in Model.Content.Split(Environment.NewLine.ToCharArray(), StringSplitOptions.RemoveEmptyEntries))
        {
            <p>
                @paragraph
            </p>
        }
        <small class="author">
            Category: @Html.ActionLink(Model.Category.Name, "List", "Article", new { @categoryId = Model.Category.Id }, null)
        </small>
        <small class="author">
            Tags:
            @foreach (var tag in Model.Tags)
            {
                @Html.ActionLink(tag.Name, "List", "Article", new { @tagId = tag.Id }, new { @class = "btn btn-default btn-xs btn-addDistance" })
            }
        </small>
        <small class="author mt-20">
            Author: @Html.ActionLink(@Model.Author.FullName, "List", "Article", new { authorId = Model.AuthorId }, null)
        </small>
        <small class="author">
            Date: @Model.DateCreated.ToString("dd-MM-yyyy")
        </small>
        <small class="author">
            Visits: @Model.Visits
        </small>
        <footer class="pull-right">
            @Html.ActionLink("Comment", "Create", "Comment", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs btn-addDistance", @target = "_blank" })
            @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name)))
            {
                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs btn-addDistance" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs btn-addDistance" })
            }
            @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="mt-50">
            <hr />
            <div class="container">
                <div class="well">
                    <h2>Leave a Comment</h2>
                    @using (Html.BeginForm("Comment", "Article", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        @Html.HiddenFor(m => m.Id)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Comment, new { @class = "control-label col-sm-4" })
                            <div class="col-sm-4">
                                @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", @rows = "7" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <input type="submit" value="Comment" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    @if (Model.Comments.Count > 0)
    {
        <div class="mt-50">
            <hr />
            <h4>
                Comments
                @if (ViewBag.IsCommentCountGreaterThanAllowed)
                {
                    <span class="small"> - Showing the Latest 5</span><br />
                    @Html.ActionLink("All Comments", "List", "Comment", new { articleId = Model.Id }, new { @class = "btn btn-success btn-sm mt-10" })
                }
            </h4>
            @foreach (var comment in Model.Comments)
            {
                <div class="comments mt-20">
                    @Html.ActionLink(comment.AuthorName, "List", "Article", new { authorId = comment.AuthorId }, null) -
                    <small>@comment.DateCreated.ToString("dd.MM.yyyy")</small>
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || comment.AuthorUserName.Equals(User.Identity.Name)))
                    {
                        <div class="pull-right">
                            @Html.ActionLink("Edit", "Edit", "Comment", new { @id = comment.Id }, new { @class = "btn btn-success btn-xs btn-addDistance" })
                            @Html.ActionLink("Delete", "Delete", "Comment", new { @id = comment.Id }, new { @class = "btn btn-danger btn-xs btn-addDistance" })
                        </div>
                    }
                    <hr />
                    @comment.Content
                </div>
            }

            @if (ViewBag.IsCommentCountGreaterThanAllowed)
            {
                @Html.ActionLink("All Comments", "List", "Comment", new { articleId = Model.Id }, new { @class = "btn btn-success btn-sm mt-10" })
            }
        </div>
    }
</div>
<hr />