@model List<Blog.Models.Article>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h3>
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h3>
                    </header>
                    <p>
                        @article.Summary
                    </p>
                    <footer class="author">
                        <small class="pull-left">
                            @article.DateCreated.ToString("dd.MM.yyyy")
                        </small>
                        <small class="pull-right">
                            --author @Html.ActionLink(article.Author.FullName, "List", "Article", new { @authorId = article.Author.Id }, null)
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>
<hr />
