@model List<Blog.Models.Article>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i % 2 == 0 && i != 0)
            {
                <div class="row"></div>
            }
            <div class="col-sm-6 pt-20">
                <article>
                    <header>
                        <h3>
                            @Html.ActionLink(@Model[i].Title, "Details", "Article", new { @id = Model[i].Id }, null)
                        </h3>
                    </header>
                    <p>
                        @Model[i].Summary
                    </p>
                    <footer class="author">
                        <small class="pull-left">
                            @Model[i].DateCreated.ToString("dd.MM.yyyy")
                        </small>
                        <small class="pull-right">
                            --author @Html.ActionLink(Model[i].Author.FullName, "List", "Article", new { @authorId = Model[i].Author.Id }, null)
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>

    @if (!Model.Any())
    {
        <h2 class="text-center mt-50">No more Posts!!!</h2>
    }

    <div class="text-center mt-50">
        @Html.ActionLink("| <", "List", null, new { @class = $"btn btn-sm btn-primary {(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)}" })
        @Html.ActionLink("<<", "List", new { page = ViewBag.CurrentPage - 1 }, new { @class = $"btn btn-sm btn-primary {(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)}" })

        @Html.ActionLink(">>", "List", new { page = ViewBag.CurrentPage + 1 }, new { @class = $"btn btn-sm btn-primary {(!Model.Any() || Model.Count < 2 ? "disabled" : string.Empty)}" })
        @Html.ActionLink("> |", "List", new { page = ViewBag.CurrentPage + 1 }, new { @class = $"btn btn-sm btn-primary {(!Model.Any() || Model.Count < 2 ? "disabled" : string.Empty)}" })
    </div>

</div>
<hr />
